* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    background-color: #1F2B50;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.login-container {
    margin: 150px;
    background-color: #1F2B50;
    color: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.login-title {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 35px;
}

label {
    align-self: flex-start;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.forgot-password {
    display: 	block;
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: yellow;
    text-decoration: none;
}

.login-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.login-button:hover {
    background-color: #ddd;
}

.help-text {
    margin-top: 15px;
    font-size: 14px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.login-button:hover,
.login-button:active,
.login-button:focus {
    background-color: rgb(218, 218, 218) !important;  /* Mantém a cor azul sempre */
    color: #1F2B50 !important;
    outline: none;
}

.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.register-link p {
    margin: 0;
}

.register-button {
    font-size: 16px;
    color: #1F2B50;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ebee2f; /* Cor de fundo mais chamativa */
    transition: background-color 0.3s, transform 0.3s;
}

.register-button:hover {
    background-color: #fdfdfd; /* Cor de fundo ao passar o mouse */
    transform: scale(0.95); /* Efeito de aumentar um pouco o botão */
}

.register-button:active {
    transform: scale(1);
}


